CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/acct_1SxE5TBPucG3KZiI/test/workbench/overview
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/acct_1SxE5TBPucG3KZiI/test/workbench/webhooks/we_1Sy2XxBPucG3KZiIPFtaX1Kf
STRIPE_ENDPOINT_SECRET=

DATABASE_URL=
JWT_SECRET=EstoDebeSerUnStrinSeguro12093810asdhj123asd31sd123asda98H@31sad23advscx
NATS_SERVERS=nats://nats-server:4222