[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-Course-NestJS/ClientGateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Microservices-Course-NestJS/Products_Microservices.git
