[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-Course-NestJS/ClientGateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Microservices-Course-NestJS/Products_Microservices.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Microservices-Course-NestJS/Orders-Microservice.git
[submodule "payments-mshyb"]
	path = payments-mshyb
	url = https://github.com/Microservices-Course-NestJS/payments-hybridmicroservice.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Microservices-Course-NestJS/auth-ms.git
